div.wrapper {
  display: flex;
  flex-direction: row;
  height: 1200px;

  transition-delay: 0.2s;
}

div.sidebar {
  background: rgb(255, 206, 115);
  width: 300px;
  height: 100%;
  padding: 5px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.no-edge-in-creation svg {
  cursor: cell;
}

ul {
  padding-inline-start: 30px;
}

li {
  margin-bottom: 6px;
}

svg {
  width: 100%;
  height: 100%;
}

g {
  stroke: rgb(91, 91, 231);
  fill: rgb(255, 206, 115);
  outline: none;
}

div.no-edge-in-creation g:hover {
  cursor: grab;
  fill: rgb(255, 172, 18);
}

div.edge-in-creation g.valid-child:hover {
  fill: rgb(255, 172, 18);
  cursor: pointer;
}

div.no-edge-in-creation g:focus {
  fill: rgb(218, 231, 255);
}

div.no-edge-in-creation g:focus:hover {
  fill: rgb(177, 204, 255);
}

circle {
  stroke-width: 5px;
}

line {
  stroke: rgb(91, 91, 231);
  stroke-width: 10px;
  cursor: pointer;
}

line:hover, line.edge-in-creation {
  stroke: rgb(151, 180, 235);
}

div.edge-in-creation line {
  pointer-events: none;
}

line.edge:hover {
  stroke: rgb(255, 156, 156);
}

text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: blue;
  font-size: xx-large;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}