.App {
  text-align: center;
}

svg {
  width: 100%;
  height: 2000px;
}

g {
  stroke: rgb(91, 91, 231);
  fill: rgb(255, 206, 115);
  outline: none;
  cursor: grab;
}

g:hover {
  fill: rgb(255, 187, 60);
}

g:focus {
  fill: rgb(255, 166, 0);
}

circle {
  stroke-width: 5px;
}

line {
  stroke: rgb(91, 91, 231);
  stroke-width: 10px;
  cursor: pointer;
}

line:hover, line.edge-in-creation {
  stroke: rgb(90, 169, 206);
}

line.edge-in-creation {
  pointer-events: none;
}

text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: blue;
  font-size: xx-large;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}